.orange {
	color: orange;
}

.profile {
	width: 300px;
	text-align: center;
	padding: 1rem;
	background-color: #ebebeb;
	border-radius: 20px;
	margin-bottom: 1rem;
	box-shadow: 7px -3px 20px -7px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 7px -3px 20px -7px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 7px -3px 20px -7px rgba(0, 0, 0, 0.65);
}

.photo {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.avatar {
	position: relative;
	width: 200px;
	height: 200px;
	margin: auto;
}

.new {
	width: 50px;
	border-radius: 4px;
	background-color: aquamarine;
	position: absolute;
	top: 10%;
	left: 75%;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0.2rem 0.5rem;
}
